<!-- Footer start -->
<footer class="main-footer clearfix">
    <div class="container">
        <!-- Footer top -->
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                    <div class="logo-2">
                        <a href="index.html">
                            <img src="img/logos/footer-logo.png" alt="footer-logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
                    <form action="#" method="GET">
                        <input type="text" class="form-contact" name="email" placeholder="Enter your email">
                        <button type="submit" name="submitNewsletter" class="btn btn-default button-small">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <ul class="social-list clearfix">
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Footer info-->
        <div class="footer-info">
            <div class="row">
                <!-- About us -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Contact Us</h1>
                        </div>
                        <p>
                           
                        </p>
                        <ul class="personal-info">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                Lagos: No. 2 Sanyaolu street by Oregun bustop, Oregun, Ikeja, Lagos
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                Email:<a href="mailto:sales@hotelempire.com">info@deslogenergy.com</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                Phone: <a href="tel:+55-417-634-7071">080-387-87766, 070-356-12321</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                Port Harcourt: No. 321 PH/Aba Expressway, Opposite Samsung, Rumuokwurusi, Port Harcourt.
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                Email:<a href="mailto:sales@hotelempire.com">info@deslogenergy.com</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                Phone: <a href="tel:+55-417-634-7071">080-993-92158, 080-331-76526</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!-- Links -->
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-item">
                        <div class="main-title-2">
                            <h1>Useful Links</h1>
                        </div>
                        <ul class="links">
                            <li>
                                <a href="#">Teachers</a>
                            </li>
                            <li>
                                <a href="#">Courses</a>
                            </li>
                            <li>
                                <a href="#">Blog Post</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Teachers</a>
                            </li>
                            <li>
                                <a href="#">Policies</a>
                            </li>
                            <li>
                                <a href="#">Social Media</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Tags -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item tags-box">
                        <div class="main-title-2">
                            <h1>Tags</h1>
                        </div>
                        <ul class="tags">
                            <li><a href="#">Teacher</a></li>
                            <li><a href="#">Student</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Class Rooms</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Computer</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Admission</a></li>
                            <li><a href="#">Courses</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Recent cars -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-item recent-posts">
                        <div class="main-title-2">
                            <h1>Recent Courses</h1>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="img/educare/sidebar-1.jpg" alt="sidebar-1">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a href="#">Graphic design</a>
                                </h3>
                                <p>21 July 2017</p>
                                <div class="comments-icon">
                                    <i class="fa fa-comments"></i>45 comments
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="img/educare/sidebar-2.jpg" alt="sidebar-2">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a href="#">Computer Science</a>
                                </h3>
                                <p>10 October, 2017</p>
                                <div class="comments-icon">
                                    <i class="fa fa-comments"></i>32 comments
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="img/educare/sidebar-3.jpg" alt="sidebar-3">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a href="#">Web Development</a>
                                </h3>
                                <p>10 October, 2017</p>
                                <div class="comments-icon">
                                    <i class="fa fa-comments"></i>58 comments
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!-- Copy right start -->
<div class="copy-right">
    <div class="container">
        &copy;  2017 <a href="http://themevessel.com/" target="_blank">Theme Vessel</a>. Trademarks and brands are the property of their respective owners.
    </div>
</div>
<!-- Copy end right-->

<script type="text/javascript" src="js/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/js/bootstrap-submenu.js"></script>
<script type="text/javascript" src="js/js/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="js/js/jquery.scrollUp.js"></script>
<script type="text/javascript" src="js/js/wow.min.js"></script>
<script type="text/javascript" src="js/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/js/jquery.filterizr.js"></script>
<script type="text/javascript" src="js/js/app.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="js/js/ie10-viewport-bug-workaround.js"></script>
<!-- Custom javascript -->