<!-- Top header start -->
<header class="top-header hidden-xs" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                <div class="list-inline">
                    <a href="tel:1-8X0-666-8X88"><i class="fa fa-phone"></i>Need Support? Lagos: 08038787766, 07033847973</a>
                    <a href="tel:08038787766">Port Harcourt: 08033176526, 08099392158</a>
                    <a href="tel:08038787766"><i class="fa fa-whatsapp" aria-hidden="true"></i>08096807303</a>
                    <a href="tel:info@deslogenergy.com"><i class="fa fa-envelope"></i>info@deslogenergy.com</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                <ul class="social-list clearfix pull-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/register" class="sign-in"><i class="fa fa-user"></i> Log In / Register</a>
                    <!--<li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
                    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->

<!-- Main header start -->
<header class="main-header colorcustom">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-href="#/" class="logo">
                    <img src="img/logos/logodeslog.jpg" alt="logo">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a ng-href="#/" tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            Home
                        </a>
                        
                    </li>
                    <li class="dropdown">
                        <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            About Us</span>
                        </a>
                        
                    </li>
                    <li class="dropdown">
                        <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="0">Corporate Training</a>
                                <a tabindex="1">In-house Training</a>
                                <a tabindex="2">e-Learning</a>
                                
                            </li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            Training<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="events.html">Career</a></li>
                            <li><a href="events-2.html">Upcoming Program</a></li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            Blog
                        </a>
                        
                    </li>
            <li class="dropdown">
                        <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">
                            Gallery
                        </a>
                        
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li>
                        <div class="navbar-search-box">
                            <form class="navbar-search" method="GET">
                                <input type="search" placeholder="Search......" name="search" class="navbar-search-input" onkeyup="buttonUp();" required>
                                <button type="submit" class="navbar-search-submit">Go</button>
                                <span class="navbar-search-icon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
            <!-- /.container -->
        </nav>
    </div>
</header>


<!--<div class="branding"><a ng-href="#/">angularJS</a></div>
  <ul>
    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
  </ul>-->
